<h1>Editing customshippingrate</h1>

<%= render "form", customshippingrate: @customshippingrate %>

<br>

<div>
  <%= link_to "Show this customshippingrate", @customshippingrate %> |
  <%= link_to "Back to customshippingrates", customshippingrates_path %>
</div>
